<div class="container">
  <h2 class="text-center m-3">Employess</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col"> Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of emplist ; let i = index ">
        <th scope="row">{{ emp.id }}</th>
        <td>{{ emp.name}}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.password }}</td>
        <td>
          <i
          [routerLink]="['/employees',emp.id]"
            class="fs-2 mx-1 text-warning bi bi-eye-fill"
          ></i>
          <i
            [routerLink]="['/employees',emp.id,'Edit']"
            class="fs-2 mx-1 text-info bi bi-pencil-square"
          ></i>
          <i
          class="fs-2 mx-1 text-danger bi bi-trash3" (click)="remove(emp.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
